OPENAI_API_KEY=
SLIM_PLUGIN_ID=
SLIM_BINARY_PATH=
SLIM_PROVIDER=openai
SLIM_PLUGIN_FOLDER=../../.slim/plugins
SLIM_PLUGIN_ROOT=
SLIM_PYTHON_ENV_INIT_TIMEOUT=300
SLIM_MAX_EXECUTION_TIMEOUT=1800
SLIM_OPENAI_CONNECT_TIMEOUT_SECONDS=30
SLIM_OPENAI_WRITE_TIMEOUT_SECONDS=30
AGENT_BASH_COMMAND_TIMEOUT_SECONDS=120
